.scrollable-menu {
  height: auto;
  max-height: 50vh;
  overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;        
}

.scrollable-menu::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;
  box-shadow: 0 0 1px rgba(255,255,255,.75);        
}
