<div class="container">

  {{ partial "header/subheader.html" . }}

  <section id="homepage">
    {{ .Render "section-header" }}

    <div class="row">
      {{ range first 3 (where .Site.RegularPages "Section" "post") }}
        <div class="col-md my-2">
          <a class="card-link text-decoration-none" href="{{ .Permalink | absLangURL }}">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ .Title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ .Date.Format (.Site.Params.dateFormat | default "Jan 2, 2006") }} | {{ T "reading_time" .ReadingTime }}
                </h6>
                <p class="card-text text-body">
                  {{ .Summary | plainify }}
                </p>
              </div>
            </div>
          </a>
        </div>
      {{ end }}
    </div>

    {{ partial "social-networks.html" . }}

  </section>

</div>
